
<div class="landing-bg">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-12 col-sm-12 col-5 offset-md-7">
                <div class="top-right">
                    <img src="../../assets/img/logo_exportapp.png" alt="" class="img-fluid logo">
                    <div class="logo-tag">
                            <span> the export </span> 
                            <br>
                            <span>  accelerator. </span> 
                        <div class="logo-desciption pr-5">
                            Lorum lipsem Lorum lipsem Lorum lipsem Lorum lipsem Lorum lipsem Lorum lipsem Lorum lipsemLorum lipsem
                            Lorum lipsemLorum lipsemLorum lipsemLorum lipsem
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button [routerLink]="['/signin']" class="btn btn-custome btn-danger mr-3 btn-full"> sign in</button>                        
                            <button class="btn btn-custome btn-outline-danger btn-full"> sign up</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>