<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-center">  
            <div class="card col-12 col-md-10 p-3">
                <div class="bg-primary text-white">
                    <h6> Company Details</h6>
                </div>
                <form [formGroup] = "entity">
                    <div class="row"> 
                        <div class="col-12 col-md-6 col-sm-12">  
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Company Name" formControlName = 'name' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="State" formControlName = 'state' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="City" formControlName = 'city' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Address" formControlName = 'address' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="ZIP" formControlName = 'zip' autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6 col-sm-12">  
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Industry" formControlName = 'address' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Phone" formControlName = 'phone' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Email" formControlName = 'email' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Fax" formControlName = 'fax' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Website" formControlName = 'website' autocomplete="off">
                            </mat-form-field>
                        </div>   
                        <div class="col-12">  
                            <mat-form-field class="full-width">
                                <textarea matInput placeholder="Commnets" rows="3" formControlName = 'comment' autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>   
                    </div>
                </form>           
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">  
            <div class="card col-12 col-md-10 p-3">
                <div class="bg-primary text-white">
                    <h6> Contact Person Details</h6>
                </div>
                <form [formGroup] = "contactPerson">
                    <div class="row"> 
                        <div class="col-12 col-md-6 col-sm-12">  
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Person Name" formControlName = 'name' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Position" formControlName = 'position' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Department" formControlName = 'department' autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6 col-sm-12">  
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Email" formControlName = 'email' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Phone" formControlName = 'phone' autocomplete="off">
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Cell" formControlName = 'cell' autocomplete="off">
                            </mat-form-field> 
                            <mat-form-field class="full-width">
                                <input type="text" placeholder="Person Type" aria-label="Person Type" matInput formControlName="type" [matAutocomplete]="type">
                                <mat-autocomplete #type="matAutocomplete" [displayWith]="displayfilterType">
                                    <mat-option *ngFor="let type of filteredpersonType | async" [value]="type">
                                    {{type.text}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>   
                        <div class="col-12">  
                            <mat-form-field class="full-width">
                                <textarea matInput placeholder="Commnets" formControlName = 'comment' rows="3" autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>     
                        <div class="col-12"> 
                            <button type="button" class="btn btn-success float-right" (click)="addPerson()"> Add</button>
                            <button type="button" class="btn btn-outline-danger float-right"> Reset</button>
                        </div>  
                    </div>
                </form>           
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">  
            <div class="card col-12 col-md-10 p-3">
                <div class="bg-primary text-white">
                    <h6> Contact Person Details</h6>
                </div> 
                <mat-table #table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="name" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Person Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            {{element.name}} 
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="position" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            {{element.position}} 
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="department" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            {{element.department}} 
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header > Email </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            {{element.email}} 
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="phone" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header > Phone </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            {{element.phone}} 
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header > Action </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            <button class="btn btn-warn"> Edit</button>
                        </mat-cell>
                    </ng-container>
            
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 15, 20, 50]"></mat-paginator>
            </div>
        </div>  
        <div class="d-flex justify-content-center mt-3">  
            <div class="card col-12 col-md-10 p-3">
                <button type="button" class="btn btn-success" (click)="saveBuyer()" > Create</button>
            </div>              

    </div>
</div>
